---
import BaseLayout from "@layouts/BaseLayout.astro";

const type = "contact";
---

<BaseLayout
  title="Contact"
  description="Get in touch with me for questions, feedback, or collaboration opportunities."
  type={type}, url={Astro.url.href}
>

  <section class="py-10 text-center max-w-2xl mx-auto">
    <h1 class="text-4xl font-bold mb-4">Contact</h1>
    <p class="text-lg leading-relaxed">
      If you have any questions, suggestions, or would like to get in touch, feel free to contact me using the information below.
    </p>
    <h2>Email</h2>
    <p class="text-lg leading-relaxed">
      tom[.]bisnis@gmail[.]com
    </p>
    <h2>Feedback</h2>
     <p class="text-lg leading-relaxed">
      I welcome constructive feedback and collaboration ideas. Please reach out if you'd like to connect.
    </p>
  </section>
</BaseLayout>

