---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  description: string;
  type?: string;
  url?: string;
  featuredImage?: string;
  datePublished?: string;
  dateModified?: string;
  wordCount?: number;
  articleBody?: string;
  itemList?: { title: string; url: string }[];
}

const {
  title,
  description,
  type,
  url,
  featuredImage,
  datePublished,
  dateModified,
  wordCount,
  articleBody,
  itemList = []
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- 1. SEO meta via BaseHead -->
    <BaseHead title={title} description={description} type={type} url={Astro.url.href} />

    <!-- 2. Google AdSense Script -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=pub-6771362188294710"
      crossorigin="anonymous"
    ></script>

    <!-- 3. Preline CSS -->
    <script>
      import "preline/dist/preline.js";
    </script>

    <!-- 4. Cloudflare beacon script -->
    <script>
      if (window.location.search.includes("no-track")) {
        localStorage.setItem("skipAnalytics", "true");
      }
      if (localStorage.getItem("skipAnalytics") !== "true") {
        const cfScript = document.createElement("script");
        cfScript.defer = true;
        cfScript.src = "https://static.cloudflareinsights.com/beacon.min.js";
        cfScript.setAttribute("data-cf-beacon", '{"token": "662df3ff379748a68d3a6628cc9f611d"}');
        document.head.appendChild(cfScript);
      }
    </script>
  </head>

  <body
    class="flex flex-col min-h-screen mx-auto max-w-6xl px-4 dark:prose-invert sm:px-6 lg:px-8 dark:bg-neutral-900"
  >
    <Header />
    <main class="flex-grow">
      <slot />
    </main>

    <Footer />
  </body>
</html>
